<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">List - Reorder</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="toggle=!toggle">Toggle</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group [disabled]="!toggle"
                        (ionItemReorder)="doReorder($event)">
      <ion-item *ngFor="let character of characters">
        <ion-label>{{character}}</ion-label>
        <ion-reorder slot="start" >
          <ion-icon name="pizza"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>
