<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">Componentes</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of components | async"
              [routerLink]="c?.redirectTo"
              detail>
      <ion-icon [name]="c.icon"
                slot="start"
                color="primary">
      </ion-icon>
      {{c?.name}}
    </ion-item>
  </ion-list>
 <!-- <ion-button [routerLink]="'/alert'">
    Alert
  </ion-button>

  <ion-button [routerLink]="'/action-sheet'">
    Action Sheet
  </ion-button> -->

</ion-content>
